
<%= form_tag "/login" do %>

	
	<div class="container">
		<div class="jumbotron">
			<form class = "well">
				<h2>
					<% if @message == "Logout" %>
					<% elsif @message == nil %>
					Administrative Login
  					
						
					<%else%>
					<% @message != nil %>
						<%= @message %>
					
					<% end %>
				</h2>
				<p>
					<%= text_field_tag "username", "", placeholder: "Username" %>
					<%= text_field_tag "password", "", placeholder: "Password" %>
				</p>
				<p>
					<%= submit_tag "Submit", class: "btn btn-primary" %>
					<%= submit_tag "Clear", class: "btn" %>
				</P>
			</form>
	    <h2>Patient Search</h2>
			<p>
				Name<br>
				<%= text_field_tag "name", "", placeholder: "Not logged in" %>
				<%= text_field_tag "name", "", placeholder: "Not logged in" %>
				<%= text_field_tag "name", "", placeholder: "Not logged in" %><br>Or<br>
				<%= text_field_tag "pat_id", "", placeholder: "Not logged in" %>
			</p>
	    <p>
				<%= submit_tag "Logout", class: "btn btn-warning" %>
				<%= submit_tag "Clear", class: "btn" %>
			</p>
	  </div>
	</div>


	<% end %>
